@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>コメント編集</h1
    <h2>@ViewData["Message"]</h2>
    タスク名 @Model.TaskName <br />
    ユーザ @Model.UserName <br />

    <form action="/Comment/Edit/@(Model.Id)" method="post" class="d-inline">
        コメント<br />
        <textarea name="comment">@(Model.Comment)</textarea>
        <hr />
        <button type="submit" class="btn btn-primary me-2">確定</button>
    </form>

    <form action="/Comment/Delete/@(Model.Id)" method="post" class="d-inline" onsubmit="return confirm('本当に削除してよろしいですか？');">
        <button type="submit" class="btn btn-danger me-2">削除</button>
    </form>


    <a href="/Task/ShowInfo" class="btn btn-secondary align-middle">戻る</a>

    
</div>